/*  your css code here. If applicable */
body{
	text-align:center;
}

.code{
	width:40px;
	height:40px;
	border:none;
	font-size:40px;
	text-align:center;
}
.code-container{
	display:flex;
	justify-content:center;
	gap:30px
}
